*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: var(--Light-gray);
}


.conteiner main{
    margin-top: 7.0rem;
    border: transparent;
    background-color: var(--White);
    width: 17.0rem;
    border-radius: 1.0rem;
    padding: 1.0rem 1.0rem;
    box-shadow: 0.7rem 0.7rem 2.0rem var(--Grayish-blue);
}

img{
    width: 15.0rem;
    border-radius: 0.5rem;
}

h1{
    font-size: 1.1rem;
    color: var(--Dark-blue);
    padding: 1.0rem;
    text-indent: 0.3rem;
    font-weight: 700;
}

p{
    color: var(--Grayish-blue);
    font-size: 0.8rem;
    padding: 0 1.0rem 1.0rem 1.0rem;
    text-indent: 0.3rem;
    text-align-last: center;
    font-weight: 400;
}